ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #edeef0; /* 浅灰色背景 */
}

/* 强制页面的主要容器充满视口宽度 */
#app {
  width: 100%;
  height: 100%;
}

/* 确保所有元素遵循盒模型 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
}
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 滚动条轨道背景色 */
}
::-webkit-scrollbar-thumb {
  background: #888; /* 滚动条滑块背景色 */
  border-radius: 4px; /* 滚动条滑块圆角 */
}
::-webkit-scrollbar-thumb:hover {
  background: #555; /* 鼠标悬停时滚动条滑块背景色 */
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: none !important;
}





